<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/myStyle.css">
    <title>MDP Web Development Tutorials Resources & Online Training</title>
</head>

<body>
    <div class="banner-cta grid--bleed">
        <div class="banner-cta__content grid-no-bleed flex-column">
            <p><span class="bold-text">Front End Web Development Course</span> for beginners</p>
            <a class="btn" href="#web-dev-course">Find Out More</a>
        </div>
    </div>



    <div class="banner-main">
        <div class="banner-main__top flex-column">
            <img class="logo" src="img/logo-small.png" alt="">
            <a class="btn" href="blog.html">Blog</a>
            <a class="btn" href="https://www.youtube.com/@MdpWebDevelopment">Youtube</a>
            <div class="contact"><a href="https://www.instagram.com/mdp_web_development/" target="_blank"><img
                        src="img/instagram.png" alt=""></a></div>
        </div>
        <div class="banner-main__bottom flex-column">

            <h1>Web Development coding courses</h1>
            <h2>Build modern websites today, step by step</h2>
            <h3>Go from beginner to expert web developer and gain industry recognised skills along the way</h3>
            <a href="#web-dev-course"><img class="web-dev-img img-responsive" src="img/web-dev.png" alt=""></a>
            <a class="btn" href="#web-dev-course">Frontend Web Development</a>

        </div>
    </div>


    </script>
</body>

</html>