<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/myStyle.css" />
  <title>Web Templates</title>
</head>

<body class="gradient-2">
  <header class="top-links color-one-bg">
    <nav class="nav-bar">
      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#web-services">Web Services</a></li>
        <li><a href="#web-templates">Web Templates</a></li>
        <li><a href="#feedback">Feedback</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  </header>
  <section class="grid-main top-section color-three section-height" id="home">
    <div class="grid-content top-banner">
      <h2>My Company Co.</h2>
      <p>WEB DEVELOPMENT SERVICES</p>
      <h1>Website Templates</h1>
      <p>Download, customize and go...</p>
      <button class="button-learn-more color-four-bg color-one ">Learn More</button>
    </div>
  </section>
  <main>
    <section class="grid-main section-height  color-three" id="about">
      <div class="grid-content grid-2-col about">
        <div class="flex-middle">
          <h2 class="animate">Say goodbye to boring websites, say hello to My Company Co. Templates</h2>
        </div>
        <div class="flex-middle">
          <div>
            <h3>Modern</h3>
            <p>Choose from many modern designs, business, blogs, sales, charity, function.</p>
          </div>
          <div>
            <h3>Optimized</h3>
            <p>Fully optimized for the web, lightining fast static templates load instantly, google friendly.</p>
          </div>
          <div>
            <h3>Scaleable</h3>
            <p>Wheather you have no products, or over 1000, scale up when needed.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="grid-main section-height gradient-1">
      <div class="grid-content">
        <div class="grid-2-col section-height">
          <div class="text-on-image-div">
            <div class="centered">
              <h2 class="color-three color-four-bg">Easy install</h2>
            </div>
          </div>
          <div class="flex-center">
            <img src="img/install-right.png" class="img-responsive animate" alt="">
            <p class="color-three">Download, install and go, in minutes with easy maintenance.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="grid-main section-height" id="web-services">
      <div class="grid-content  color-three flex-middle">
        <h2>Other web development services</h2>
        <div class="grid-2-col">
          <ul class="service-list-ul animate">
            <li>Web Development</li>
            <li>Web Design</li>
            <li>Digital Marketing</li>
          </ul>
          <img src="img/other-services.png" class="img-responsive " alt="">
        </div>
      </div>
    </section>
    <section class="grid-main gradient-1 color-three section-height" id="web-templates">
      <div class="grid-content web-templates flex-middle">
        <h2>Web Templates</h2>
        <div class="grid-3-col color-one animate">
          <div class="thumbnail color-three-bg ">
            <img src="img/blog.png" alt="">
            <h3 class="color-four">Blog</h3>
            <p class="os">Windows</p>
            <button class="button-thumbnail color-four-bg">$90</button>
          </div>
          <div class="thumbnail color-three-bg">
            <img src="img/e-commerce.png" alt="">
            <h3 class="color-four">E-Commerce</h3>
            <p class="os">Windows & Mac</p>
            <button class="button-thumbnail color-four-bg">$90</button>
          </div>
          <div class="thumbnail color-three-bg">
            <img src="img/business.png" alt="">
            <h3 class="color-four">Business</h3>
            <p class="os">All Operating Systems</p>
            <button class="button-thumbnail color-four-bg">$90</button>
          </div>
        </div>
      </div>
    </section>
    <section class="grid-main top-section color-three section-height" id="feedback">
      <div class="grid-content flex-middle">
        <h2>What people are saying</h2>
        <div class="grid-3-col">
          <div class="color-four-bg  gradient-2">
            <h3>John</h3>
            <p>This company has great templates, so easy to use and get up and running. I would love to buy more from
              them.
            </p>
          </div>
          <div class="color-four-bg  gradient-2">
            <h3>Bernie</h3>
            <p>This company has great templates, so easy to use and get up and running. I would love to buy more from
              them.
            </p>
          </div>
          <div class="color-four-bg  gradient-2">
            <h3>Alex</h3>
            <p>This company has great templates, so easy to use and get up and running. I would love to buy more from
              them.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="grid-main " id="contact">
      <div class="grid-content">
        <div class="grid-2-col section-height  color-three">
          <div class="flex-middle">
            <h2>Contact Us</h2>
            <address>
              My Company Co.<br>
              Ny Street<br>
              My Town<br>
            </address>
          </div>
          <div class="flex-center">
            <img src="img/contact-us.png" class="img-responsive" alt="">
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="grid-main footer color-one-bg">
    <div class="grid-content">
      <div class="grid-3-col">
        <div class="flex-center">
          <p>Website developed by <strong>ME</strong></p>
          <p>Copyright Here</p>
        </div>
        <div class="flex-center">
          <img src="img/footer.png" class="img-responsive" alt="">
        </div>
        <div class="flex-center">
          <ul class="color-three">
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#web-services">Web Services</a></li>
            <li><a href="#web-templates">Web Templates</a></li>
            <li><a href="#feedback">Feedback</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>